<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
  <title>react-api | ALPHA</title>
  <link rel="shortcut icon" href="img/logo.png">
  <meta name="description" content="Nick Zuber web application design and web software development. Learn more and connect.">

  <meta itemprop="name" content="Nick Zuber Web Software Engineer">
  <meta itemprop="description" content="Nick Zuber web application design and web software development. Learn more and connect.">
  <meta itemprop="image" content="img/logo.png">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Nick Zuber Software Engineer">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:description" content="Nick Zuber web application design and web software development. Learn more and connect.">
  <meta property="og:site_name" content="Nick Zuber Software Engineer">
  <meta property="og:url" content="http://www.nickzuber.com/" />
</head>
<body>
  <div id="app"><%- reactOutput %></div>
  <script src="scripts/app.bundle.js"></script>
</body>
</html>